<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rogeri.schoolknowledge">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/app_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".controler.ActivityHome">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".controler.ActivityLogin"
            android:label="Connexion" >
        </activity>
        <activity
            android:name=".controler.ActivityNewUser"
            android:label="Inscription" />
        <activity
            android:name=".controler.ActivityLevelSelection"
            android:label="Niveau" />
        <activity
            android:name=".controler.ActivityExercise"
            android:label="Résultats" />
        <activity
            android:name=".controler.ActivityQuestionQCM"
            android:label="Question" />
    </application>

</manifest>
